#venus, #earth, #mars, #jupiter, #saturn, #uranus, #neptune,
#venusinfo, #earthinfo, #marsinfo, #jupiterinfo, #saturninfo, #uranusinfo, #neptuneinfo {
    display: none;
}

#bigimages {
    float: left
}

#thumbnails {
    clear: left
}

